*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Ink Free', 'Arial';
  color: #000;
  
}
header{
  background-color: white;
  gap: 40rem; 
  padding: 10px;
  text-align: center;
}
.navbar-container a{
  color: #000;   
  margin: 8%;
  font-size: 25px;
  text-decoration: none;
}
.navbar-container a:hover {
  background-color:silver;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 1px 4px 1px rgba(237, 112, 253, 0.623);
} 
/* ----------//section 1//--------- */
.hero{
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background: rgb(195,128,219);
  background: linear-gradient(0deg, rgba(195,128,219,1) 20%, rgba(198,117,227,1) 37%, rgba(187,94,221,1) 54%, rgba(174,73,210,1) 68%, rgba(143,53,175,1) 82%, rgba(86,22,128,1) 100%);
}
#self-img{
  width: 490px;
  margin-left:20px;
  padding-left: 10px;
}
.info-container{
color: #000;
}
.info-container > h1{
  color: #000;
  font-size: 50px;
  padding-top:150px;
}
.info-container > h2{
  color: #000;
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 0.1px silver;
  position: relative;
  padding-top: 10px;
}
.info-container > h2::before{
  content:"A Front-End Developer";
  position: absolute;
  height: 90%;
  overflow: hidden;
  color:silver;
  border-right: 1px solid silver;
  transition: 1s ease-in-out;
}
.info-container > h2:before{
  animation: color-flow;
  animation-duration: 5s;
  overflow: hidden;
}
@keyframes color-flow {
  from {
      width: 0%;
      filter:drop-shadow( 0 0 50px silver)
  }
  to {
     width: 100%;
  }
}
.parent-icon{
  margin-top: -30px;
} 
.link-icon:hover{
  box-shadow: 10px 0 20px silver;
  border-radius: 20px;
}
.link-icon{
  width: 35px;
  margin-top:50px;
 }

 /* ----------//section 2//--------- */
 .custom-shape-divider-bottom-1713476919 {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713476919 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 130px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1713476919 .shape-fill {
  fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1713476919 svg {
      width: calc(184% + 1.3px);
      height: 86px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1713476919 svg {
      width: calc(132% + 1.3px);
      height: 59px;
  }
}
.personalinfo-container{
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px ; 
}
.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-container .info{
  flex:1;
  margin: 20px 20px;    
  text-align: center;
}
.section-container .info #title{ 
font-size: 45px;
}
.section-container .info p {
  background-color: rgba(143,53,175,1);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);  
  border-radius: 20px;
  margin: 15px 0px;
  font-size: 20px;
  color:white;
  padding: 90px 10px; 
  text-align: center;
}
.section-container .info .skills-logo{
  background-color: rgba(143,53,175,1);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);  
  border-radius: 20px;
  margin: 15px 0px;
  padding: 17px 10px;
}
.section-container .info .skills-logo #skills-logo{
padding: 5px;
}
.section-container .info .abilities-paragraph{
  background-color: rgba(143,53,175,1);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);  
  border-radius: 20px;
  margin: 15px 0px;
  font-size: 28px;
  color:white;
  padding: 17px 10px;
  text-align: left;
}
.section-container .info .abilities-paragraph li{
  margin-left:70px;
}
 #atomic-logo{
  position:fixed;
  width: 300px;
  top:5px;
  left: -10%;
  z-index: -1;
  animation: rotate 20s infinite ;
}
#atomic-logo2{
  position:fixed;
  width: 150px;
  top:480px;
  right: -10px;
  z-index: -1;
  animation: rotate 20s infinite ;
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------//section 3//--------- */

#Headings{
  padding-top: 5px;
  text-align: center;
  font-size: 45px;
  color: #000;
}
.project-contanier{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;  
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.main-container .card-container{
  flex:1;
  margin: 20px 20px;    
  background-color: rgba(143,53,175,1);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);  
  border-radius: 20px;
} 
.main-container .card-container img {
width: 100%;
height: auto;
margin-top: -80px;
}
.main-container .card-container h2{
  margin: 15px 0px;
  font-size: 28px;
  color:white;
  text-align: center;  

}
.main-container .card-container p{
  margin: 0px 13px;
  color:white;
}
.main-container .card-container a{
  background-color: #ddd;
  font-size: 16px;
  line-height: 5;
  padding:10px 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
 
}
.main-container .card-container a:hover{
  transform: scale(1.2);
  background: rgba(239, 236, 241, 0.815);  
  box-shadow: 2px 0 10px silver;

}
/* --------------//section 4//------------ */
#Headings{
  padding-top: 5px;
  text-align: center;
  font-size: 45px;
  color: #000;
  margin-bottom: 100px;
}
.contact-container{
  width: 100%;
  min-height: 75vh;
  align-items: center;
  padding: 0px 90px;
  align-items: center;
  text-align: center; 
}
.contact-container .feedback{
  background-color: rgba(143,53,175,1);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  border-radius: 20px; 
  margin: 20px 20px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.contact-container .feedback h3{
  margin: 15px 0px;
  padding: 20px 10px;  
  font-size: 25px;
  color:white;
}
.contact-container .feedback label{
color: white;
font-size: 20px;
}
.contact-container .feedback input{
  padding: 10px 40px;
  border-radius: 10px;
  border: 0ch;
  margin-bottom: 10px;
}
.contact-container .feedback textarea{
  padding: 20px 45px;
  border-radius: 10px;
  border: 0ch;
  margin-bottom: 10px;
}
.contact-container .feedback button{
  padding: 10px 106px; 
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0ch; 
  background-color: #ddd;
  transition: transform 0.3s ease-in-out;

}
.contact-container .feedback button:hover{
  transform: scale(1.01);
  background: rgba(239, 236, 241, 0.815);  
  box-shadow: 2px 0 10px silver;
}
footer{
  margin: 0;
  background-color: rgb(202, 198, 198);
  color: #000;
  text-align: center;
}
footer p {
  font-size: 20px;
  font-weight:600 ;
  padding: 10px;
}
footer .footer-icon .link-icon{
  width: 25px;  
  margin-top: -1px;
}
.hidden{
  opacity: 0;
  transition: all 2s;

}
.show{
  opacity: 1;
}
@media screen and (max-width:640px){
  .navbar-container a{
    font-size: 15px;
    margin: 2%;
  }
  .hero{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  #self-img{ 
    background-color: #00000056;
    margin-top: 10px;
    width: 240px;
    border:  solid 1px ;
    box-shadow: 5px 0 8px  snow ;
    border-radius:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
  }
  .info-container{
    margin-top: -160px;
  }
  .info-container > h1{
    text-align: center;
    color: #000;
    font-size: 25px;
  }
  .info-container > h2{
    margin-left: 60px;
    font-size: 25px;
  }
  .info-container > h2::before{
    height: 80%;
  }
  .parent-icon{
    text-align: center;
  } 
  .section-container {
    flex-direction: column;
  }
  .personalinfo-container{
    padding: 0; 
  }
  .main-container{
    flex-direction: column;
    padding: 0; 
  }
  .project-contanier{
    padding: 0px; 
    margin-top: -100px;
  }
 .main-container .card-container{
    margin-top: 90px;
  }
 .contact-container{
    padding: 0px ; 
    padding: 0; 
  }
  .contact-container .feedback{
    display: grid;
    grid-template-columns: repeat(1,1fr);  
  } 
  .custom-shape-divider-bottom-1713476919 {
    bottom:50px;
  }
  .custom-shape-divider-bottom-1713476919 svg {
    width: calc(100% + 1.3px);
    height: 50px;
}
}



